<div class="container catalog-container">
  <div class="row">
    <div class="col-sm-7">
      <%= image_tag catalog_img(@catalog_item.main_image.url,'main'), width: '100%' %>
    </div>

    <div class="col-sm-5">
     <h1> <%= @catalog_item.title %> </h1>

      <hr>

      <em> <%= @catalog_item.subtitle %> </em>
      <p> <%= @catalog_item.body %> </p>
      <hr>
      <h3>Technologies used</h3>
      <% @catalog_item.technologies.each do |t| %>
        <p><%= t.name %></p>
      <% end %>
      <% if logged_in?(:site_admin) %>
          <%= link_to "Edit this item", edit_catalog_path, class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
</div>
