<div class="container catalog-container">
  <div class="row">
    <div class="col-sm-7">
      <%= image_tag @catalog_item.main_image.to_s, class:"img-fluid" %>
    </div>

    <div class="col-sm-5">
     <h1> <%= @catalog_item.title %> </h1>
     <%= link_to "Edit this item", edit_catalog_path  %>

      <hr>

      <em> <%= @catalog_item.subtitle %> </em>
      <p> <%= @catalog_item.body %> </p>

      <hr>

      <h3>Technologies used</h3>
      <% @catalog_item.technologies.each do |t| %>
        <p><%= t.name %></p>
      <% end %>

    </div>
  </div>
</div>
