<div class="col-md-8 blog-main d-flex justify-content-between border-bottom">
  <div>
    <h3 class="pb-2 mb-2"> <%= link_to 'Topics', topics_path %> </h3>
  </div>
  <div>
    <h3 class="pb-2 mb-2"> <%= link_to 'Write a new post', new_blog_path if logged_in?(:site_admin) %></h3>
  </div>
</div>
<div class= "col-md-8 blog-main">

  <%= paginate @blogs %>
  <%= render @blogs %>
  <%= paginate @blogs %>

</div>

