<aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">Quote</h4>
    <p class="mb-0"><em> "Not everything that can be counted counts, and not everything that counts can be counted." </em> <br>(Albert Einstein)</p>
  </div>
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic"> Topics</h4>
      <% @side_bar_topics.each do |topic| %>
        <p>  <%= link_to topic.title, topic_path(topic) %></p>
        <% end %>
  </div>

  <div class="p-4 bg-light rounded">
    <h4 class="font-italicx">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://www.github.com/krystonen"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.facebook.com/krystonen"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://www.twitter.com/krystonen"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://www.linkedin.com/in/krystonen/"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://www.instagram.com/krystonen"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</aside>
