<!DOCTYPE html>
<html>
  <head>
    <meta charset= "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> <%= @page_title %></title>
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "shared/blog_navhead" %>
      <%= render "shared/blog_nav" %>
      <%= render "shared/blog_jumbotron" %>
    </div>

    <div class="container">
      <div class="row">
        <%= yield %>
        <%= render "shared/blog_sidebar" %>
      </div>
    </div>
    <%= render "shared/blog_footer" %>
    <%= alerts %>
    <%= source_helper("alert") %>
  </body>
</html>
