<!DOCTYPE html>
<html>
  <head>
    <meta charset= "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <meta charset= "utf-8">
    <title> <%= @page_title %></title>
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>

    <%= stylesheet_link_tag 'catalogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/catalog_navbar" %>
    <%= render "shared/catalog_header" unless logged_in?(:site_admin)%>
    <%= yield %>
    <%= render "shared/catalog_footer" %>
    <%= alerts %>

  </body>
</html>
